@font-face {
  font-family: "Marselis-Pro";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Marselis/Marselis-Pro/MarselisPro-Light.ttf"),
}

@font-face {
  font-family: "Marselis-Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Marselis/Marselis-Pro/MarselisPro.ttf"),
}

@font-face {
  font-family: "Marselis-Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Marselis/Marselis-Pro/MarselisPro-Bold.ttf"),
}

@font-face {
  font-family: "Marselis-Pro";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Marselis/Marselis-Pro/MarselisPro-Black.ttf"),
}

@font-face {
  font-family: "Marselis-Slab";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Marselis/Marselis-Slab/Marselis\ Slab\ Light.ttf"),
}

@font-face {
  font-family: "Marselis-Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Marselis/Marselis-Slab/Marselis\ Slab\ Regular.ttf"),
}

@font-face {
  font-family: "Marselis-Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Marselis/Marselis-Slab/Marselis\ Slab\ Bold.ttf"),
}

@font-face {
  font-family: "Marselis-Slab";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Marselis/Marselis-Slab/Marselis\ Slab\ Black.ttf"),
}

@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Lyon/Lyon\ Display\ Light.otf"),
}

@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lyon/Lyon\ Display\ Regular.otf"),
}

@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lyon/Lyon\ Display\ Bold.otf"),
}

@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Lyon/Lyon\ Display\ Black.otf"),
}

@font-face {
  font-family: "Lyon-Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lyon/Lyon\ Text\ Regular.otf"),
}

@font-face {
  font-family: "Lyon-Text";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Lyon/Lyon\ Text\ Semibold.otf"),
}

@font-face {
  font-family: "Lyon-Text";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lyon/Lyon\ Text\ Bold.otf"),
}

@font-face {
  font-family: "Lyon-Text";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Lyon/Lyon\ Text\ Black.otf"),
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --uss-phosphor-green: rgb(125, 250, 0);
  --uss-phosphor-green-10: rgba(125, 250, 0, 0.1);
  --uss-green: rgb(95, 237, 0);
  --uss-green-10: rgba(95, 237, 0, 0.6);
  --uss-gray-10: rgb(240, 240, 240);
  --uss-gray-30: rgb(220, 220, 220);
  --uss-gray-50: rgb(190, 190, 190);
  --uss-black: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Marselis-Pro", sans-serif;
  position: relative;
}