/* crear animación para que un div se crezca y regrese a la normalidad */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.grow {
  animation: grow 1s infinite;
}
