/* .ais-SearchBox {
    margin-bottom: 1em;
}

.ais-InstantSearch {
    max-width: 960px;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto
}

.ais-Hits-list .ais-Hits-item {
    margin-left: 0;
    width: 100%;
}

.ais-Hits-item img {
    margin-right: 1em
}

.ais-InstantSearch .ais-Hits-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 0;
} */

.ais-SearchBox-input {
    appearance: none;
    background-color: white;
    border: none;
    border-radius: 20px;
    /* box-shadow: rgba(119, 122, 175, 0.3) 0 1px 4px 0 inset; */
    caret-color: rgb(95, 237, 0);
    color: #23263b;
    flex: 1 1 0%;
    font: inherit;
    max-width: 100%;
    padding-left: 2.5rem;
    box-shadow: rgb(0 0 0 / 33%) 0px 5px 20px 0px;
    height: 4rem;
}
.ais-Hits {
    margin-top: 2.5rem;
    box-shadow: rgb(0 0 0 / 33%) 0px 5px 20px 0px;
    border-radius: 20px;
}
.ais-SearchBox-input:focus {
    appearance: none;
    background-color: white;
    border: none;
    border-radius: 20px;
    /* box-shadow: rgba(119, 122, 175, 0.3) 0 1px 4px 0 inset; */
    caret-color: rgb(95, 237, 0);
    color: #23263b;
    flex: 1 1 0%;
    font: inherit;
    max-width: 100%;
    padding-left: 2.5rem;
    box-shadow: rgb(0 0 0 / 33%) 0px 5px 20px 0px;
    height: 4rem;
}

.ais-SearchBox-form {
    background-color: #ffffffc2;
    border-radius: 20px;
    display: flex;
    font-size: 0.875rem;
    height: 2.5rem;
    line-height: 1.25rem;
    position: relative;
    width: 100%;
}
.ais-SearchBox-form::before {
    background: rgba(0, 0, 0, 0) url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235a5e9a%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E);
    content: "";
    height: 1rem;
    width: 1rem;
    left: 1rem;
    margin-top: 0.3rem;
    position: absolute;
    top: 50%;
}
.ais-SearchBox-loadingIndicator, .ais-SearchBox-reset {
    align-items: center;
    border-radius: 50%;
    display: flex;
    fill: #484c7a;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 80%;
    transform: translateY(-50%);
    width: 20px;
}